@page "{id}"
@model ELI.Pages.StudentDetailModel
@{
    Layout = "_Simple";
    ViewData["Title"] = "StudentDetail";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <div class="row content-padding">
        <div class="col-md-8">
            <h2>@Model.Student.LastName, @Model.Student.FirstName <small>@Model.Student.Group</small></h2>
            <ul class="list-unstyled">
                <li>@Model.Student.Sid</li>
                <li>@Model.Student.Gender, born @String.Format("{0:MMMM d, yyyy}", @Model.Student.Dob.Date), from @Model.Student.Country</li>
                <li>Most recently enrolled quarter: @Model.Student.YearQuarterEnrolled</li>
            </ul>
        </div>
    </div>
    <div class="row content-padding">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Class details</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Year quarter</th>
                                <th>Item number</th>
                                <th>Class title</th>
                                <th>Instructor</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.StudentClassDetails)
                            {
                                <tr>
                                    <td>@c.YearQuarterID</td>
                                    <td>@c.ItemNumber</td>
                                    <td>@c.CourseTitle</td>
                                    <td>@c.InstructorName</td>
                                    <td>@c.GradeID</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Visa: @Model.Student.VisaStatus</h3>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Assessment scores</h3>
                </div>
                <div class="panel-body">
                    <dl class="row">
                        <dt class="col-md-9">Writing score:</dt>
                        <dd class="col-md-3">@Model.Student.Score.WriteScore</dd>
                        <dt class="col-md-9">Writing placement:</dt>
                        <dd class="col-md-3">@Model.Student.Score.WritePlacement</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-9">EPT/Reading score:</dt>
                        <dd class="col-md-3">@Model.Student.Score.EptScore</dd>
                        <dt class="col-md-9">EPT/Reading placement:</dt>
                        <dd class="col-md-3">@Model.Student.Score.EptPlacement</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-9">Speaking score:</dt>
                        <dd class="col-md-3">@Model.Student.Score.OralScore</dd>
                        <dt class="col-md-9">Speaking placement:</dt>
                        <dd class="col-md-3">@Model.Student.Score.OralPlacement</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>